$mydarkolive: #6e8a2f;
$mymildolive: #a1be39;

.bg-green {
  background: $mydarkolive;
}
.btn-green {
  background: $mydarkolive;
  color: white;
  &:hover {
    background: $mymildolive;
    color: yellow;
  }
}